.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error {
  margin-top: 10px;
  font-size: 14px;
  color: red;
}

.exito {
  font-size: 10px;
  color: green;
  margin-top: 10px;
 }

.alertError {
  padding: 0;
}

.card-style {
  align-items: center;
  display: grid;
  justify-content: space-between;
  margin-top: 20px;
}
.card-style-active {
  align-items: center;
  display: grid;
  justify-content: space-between;
  margin-top: 20px;
  border-color: #0d6efd;
}
.card-style:hover {
  cursor: pointer;
  border-color: #0d6efd;
  box-shadow: 5px 2px 5px 1px rgba(84, 78, 201, 0.273);
}

.button {
  width: 100%;
  height: 50px;
  font-size: 20px;
  margin-top: 20px;

}